<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tanguyantoine.MusicControl">

    <application>
        <service android:stopWithTask="false" android:name="com.tanguyantoine.react.MusicControlNotification$NotificationService" />
    </application>

</manifest>
